@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background: linear-gradient(to right, #d3d6bf, #b2cc1d);
}


.info-button{
    margin-bottom: 3px;

}

.nav-item:hover{
    color: rgb(114, 107, 126);
}

.logo-container{
    padding-bottom: 2px;
}

.logo{
    font-size: 28px;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 4px black;
}

.burger-icon{
    cursor:pointer;
    margin-top: 5px;
    font-size: 30px;
}